<div class="container-fluid">
		<div class="row">
				<div class="col-12">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#!/">Home</a></li>
						<li class="breadcrumb-item active">{{users.login}}</li>
						<li class="hidden-xs pull-right"><a href="{{users.html_url}}"><i class="fa fa-eye" aria-hidden="true"></i></i> View on GitHub</a><li>
						</ol>
					</div>
				</div>
			</div>
	<div class="container">

		<div class="row">
			<div class="col-6">
				<span class="avatar avatar_user">
					<img src="{{users.avatar_url}}" style="width: 80px;">
					<h4>{{users.login}}</h4>
				</span>
			</div>
			<div class="col-6">
				<div class="card pull-right" style="background-color: #e9ecef;">
					<div class="card-body">
						<h4 class="card-title" style="text-align: center;">{{repositorios.length}}</h4>
						<h6 class="card-subtitle text-muted" style="font-size: 13px; text-align: center;">Repositórios Públicos.</h6>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-6">
				<input type="text" ng-model="criterioDeBusca" placeholder="&#xf002; Pesquisar Repositório" class="form-control search">
			</div>
		</div>

		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Nome</th>
					<th>Linguagem</th>
					<th><i class="fa fa-eye" aria-hidden="true"></i> Watchers</th>
					<th><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</th>
					<th><i class="fa fa-star" aria-hidden="true"></i> Stars</th>
				</tr>
				<tr ng-repeat="repos in repositorios | filter:{name:criterioDeBusca}">
					<td><a href="#!/contributors/{{repos.name}}"><button type="button" class="btn btn-xs btn-default m-l-md reposName" name="{{repos.name}}"><i class="fa fa-database"></i> {{repos.name | titleFilter}}
					</button></a></td>
					<td class="information">{{repos.language}}</td>
					<td class="information">{{repos.watchers}}</td>
					<td class="information">{{repos.forks}}</td>
					<td class="information">{{repos.stargazers_count}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>