<div class="container-fluid">
		<div class="row">
				<div class="col-12">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#!/">Home</a></li>
						<li class="breadcrumb-item active">Repositórios</li>
						<li class="hidden-xs pull-right"><i class="fa fa-eye" aria-hidden="true"></i></i> View on GitHub</a><li>
						</ol>
					</div>
				</div>
			</div>
		<hr>
	<div class="container">
		<h3>{{app}}</h3>
		<input type="text" ng-model="criterioDeBusca" placeholder="Search the repository" class="form-control"><br>
		<table class="table ">
			<tr>
				<th>Nome</th>
				<th>Linguagem</th>
				<th><i class="fa fa-eye" aria-hidden="true"></i> Watchers</th>
				<th><i class="fa fa-code-fork" aria-hidden="true"></i> Forks</th>
				<th><i class="fa fa-star" aria-hidden="true"></i> Stars</th>
			</tr>
			<tr ng-repeat="repos in repositorios | filter:{name:criterioDeBusca}">
				<td><a href="#!/contributors/{{repos.name}}"><button type="button" class="btn btn-xs btn-default m-l-md repos.name" name="{{repos.name}}"><i class="fa fa-database"></i> {{repos.name}}
						</button></a></td>
				<td>{{repos.language}}</td>
				<td>{{repos.watchers}}</td>
				<td>{{repos.forks}}</td>
				<td>{{repos.stargazers_count}}</td>
			</tr>
	</div>
</div>