<div class="container">
	<div class="row">
		
			<div class="card home-page">
				<div class="card-header">
					<img src="img/mundipagg.png" class="img-responsive card-img-top logo">
				</div>
				<div class="card-body">
					<h4 class="card-title">{{title}}</h4>
					<p class="card-text">{{description}}</p>
					<p class="card-text">{{description2}}</p>
					<p class="card-text">{{info}}</p>
					<a href="#!/github-info" class="btn btn-primary btn-block"><i class="fa fa-list" aria-hidden="true"></i> Listar</a>
				</div>
			</div>
		
	</div>
</div>
