<div class="container">
	<div class="row">
		<div class="col-8" >
			<div class="card home">
				<div class="card-header">
					<img src="img/mundipagg.png" class="img-responsive card-img-top logo">
				</div>
				<div class="card-body">
					<h4 class="card-title">Desafio Mundipagg</h4>
					<p class="card-text">Esta aplicação foi baseada em um desafio feito pela empresa Mundipagg.
					Onde o objetivo é criar uma aplicação que deverá integrar com a API-V3 do Github e listar
					alguns dados do Github da Mundipagg.</p>
					<p class="card-text"> Clique no botão abaixo para listar os dados do Github da Mundipagg.</p>
					<a href="#!/github-info" class="btn btn-primary btn-block"> Listar</a>
				</div>
			</div>
		</div>
	</div>
</div>