<div class="container">
	<div class="inner cover home-page">
	    <img src="img/mundipagg.png" class="img-responsive card-img-top logo"><h2 class="cover-heading">GitHub-Info.</h2>
	    <p class="lead">Esta aplicação foi baseada em um desafio feito pela empresa Mundipagg, o objetivo é desenvolver uma aplicação que deverá integrar com a API-V3 do Github e listar alguns dados do Github da Mundipagg.</p>
	    <p class="lead">Clique em Listar para ver os dados do Github da Mundipagg.</p>
	    <p class="lead">
	      <a href="#!/github-info" class="btn btn-lg btn-primary"><i class="fa fa-list" aria-hidden="true"></i> Listar</a>
	    </p>
  	</div>
</div>